<!doctype html>
<html lang="en">
{% include "layouts/head.njk" %}

<body>
  {% include "layouts/header.njk" %}
  <main class="page-main markdown-body">
    {{ content | safe }}
    {% include "layouts/footer.njk" %}
    <div class="back-to-top hidden">&uarr;</div>
  </main>

  <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">

  {% block scripts -%}
  {% endblock -%}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153597376-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'GA_MEASUREMENT_ID', { 'transport_type': 'beacon' });
    gtag('config', 'UA-153597376-1');
  </script>
</body>

</html>
