<footer class="site-footer">
  <p class="text-center">
    <a href="{{ bottomResource.link if bottomResource.link else site.quicklinkGithubURL }}" target="_blank" rel="noopener noreferrer" class="link__blue">
      {{ bottomResource.caption if bottomResource.caption else site.bottomResource.caption }}
    </a>
  </p>
</footer>
