<head>
  <meta charset="utf-8">
  <title>{{ title + " | " + site.title if title else site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">

  {% include "layouts/favicons.njk" -%}
  {% include "layouts/social.njk" -%}

  <link rel="preload" href="{{ '/assets/styles/main.css' | rev }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  {# TODO: opt for theme and tweak the background color by avoiding github markdown #}
  <noscript>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | rev }}">
  </noscript>

  {% set cssrelpreloadJs -%}
    {%- include "js/vendor/cssrelpreload.js" -%}
  {%- endset -%}
  <script>
    {{ cssrelpreloadJs | safe -}}
  </script>
</head>
