{% set socialImagePath = site.url + site.socialImage -%}

<meta name="og:title" content="{{ title }}">
<meta name="og:description" content="{{ description }}">
<meta name="og:url" content="{{ site.url + page.url }}">
<meta name="og:type" content="website">
<meta name="og:image" content="{{ socialImagePath }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ socialImagePath }}">
