.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  /* TODO: !important use does not look pefect, the github font looks better */
  font-family: Arial, Helvetica, sans-serif !important;
  /* TODO: opt for font color */
  color: hsl(226, 52%, 27%) !important;
}

.markdown-body h1, h2, h3, h4, h5 {
  /* Google Sans is for headlines only per Google guidelines*/
  font-family: Arial, Helvetica, sans-serif !important;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }

  .markdown-body h2 {
    font-size: 1.2em !important;
  }
}
