---
title: Home
layout: layouts/base.njk
description: Faster subsequent page-loads by prefetching in-viewport links during idle time.
---

{% include "components/heading.njk" %}

{% include "components/why-quicklink.njk" %}

{% include "components/copy-snippet.njk" %}

{% include "components/download.njk" %}

{% include "components/trusted-by.njk" %}

{% include "components/installation.njk" %}

{% include "components/usage.njk" %}

{% include "components/over-prefetching.njk" %}

{% include "components/react.njk" %}

{% include "components/chrome-extension.njk" %}

{% include "components/why-prefetch.njk" %}

{% include "components/use-with.njk" %}
