---
title: Home
layout: layouts/base.njk
description: Faster subsequent page-loads by prefetching in-viewport links during idle time.
---

{% include "components/heading.njk" %}

{% include "components/why-quicklink.njk" %}

{% include "components/copy-snippet.njk" %}

{% include "components/download.njk" %}

{% include "components/trusted-by.njk" %}

{% include "components/installation.njk" %}

{% include "components/usage.njk" %}

{% include "components/over-prefetching.njk" %}

{% include "components/react.njk" %}

{% include "components/chrome-extension.njk" %}

{% include "components/why-prefetch.njk" %}

{% include "components/use-with.njk" %}

{% block scripts -%}
  <script defer src="https://buttons.github.io/buttons.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ '/script.js' | url }}" defer></script>
{%- endblock %}
