---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
# www.robotstxt.org

User-agent: *
Disallow:{% if quicklink.isNetlify %} /{% endif %}
Sitemap: {{ quicklink.url + "/sitemap.xml" }}
