---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
# www.robotstxt.org

User-agent: *
Disallow:{% if site.isNetlify %} /{% endif %}
Sitemap: {{ site.url + "/sitemap.xml" }}
