{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Download" %}
<ul class="no-bullet">
  <li class="list-icon">
    <img src="/assets/images/font-icons/download-solid.svg" width="13" alt="download">
    <a href="https://cdnjs.cloudflare.com/ajax/libs/quicklink/{{ site.quicklinkVersion }}/quicklink.umd.js" target="_blank" rel="noopener noreferrer">Build (&lt {{ site.quicklinkSizeLimit }} minified/gzipped)</a>
  </li>
  <li class="list-icon">
    <img src="/assets/images/font-icons/chain-solid.svg" width="13" alt="chain">
    <a href="https://www.jsdelivr.com/package/npm/quicklink/" target="_blank" rel="noopener noreferrer">CDN copies</a>
  </li>
</ul>
{% endblock %}
