{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Download" %}
<ul class="no-bullet">
  <li class="list-icon">
    {% include "layouts/font-icons/download-solid.svg" %}
    <a href="https://cdn.jsdelivr.net/npm/quicklink@{{ site.quicklinkVersion }}/dist/quicklink.umd.js" target="_blank" rel="noopener noreferrer">Build (&lt; {{ site.quicklinkSizeLimit }} minified/gzipped)</a>
  </li>
  <li class="list-icon">
    {% include "layouts/font-icons/chain-solid.svg" %}
    <a href="https://www.jsdelivr.com/package/npm/quicklink" target="_blank" rel="noopener noreferrer">CDN copies</a>
  </li>
</ul>
{% endblock %}
