<a class="github-button" href="{{ site.quicklinkGithubURL + '/fork' }}"{% if githubLarge === true %} data-size="large"{% endif %} data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork GoogleChromeLabs/quicklink on GitHub">Fork</a>
