<a class="github-button" href="{{ site.quicklinkGithubURL }}"{% if githubLarge === true %} data-size="large"{% endif %} data-icon="octicon-star" data-show-count="true" aria-label="Star GoogleChromeLabs/quicklink on GitHub">Star</a>
