{% extends "layouts/highlighted-section-wrapper.njk" %}
{% block section %}
<h1 class="heading text-center">
Speed up next page navigations by up to <em class="secondary-font-color">1 second</em> and improve conversions by up to <em class="secondary-font-color">10%</em>
</h1>
{% endblock %}
