{% extends "layouts/highlighted-section-wrapper.njk" %}
{% block section %}
<h1 class="heading text-center">
"We implemented Quicklink and saw a <em class="secondary-font-color">50%</em> increase in conversions and <em class="secondary-font-color">4x</em> faster page transitions" - NewEgg
</h1>
{% endblock %}
