{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Installation" %}
{{ "For use with [Node.js](https://nodejs.org/) and [npm](https://www.npmjs.com/):" | markdown | safe }}
{% highlight "bash" %}
npm install quicklink
{% endhighlight %}
{{ "You can also grab `quicklink` from [unpkg.com/quicklink](https://unpkg.com/quicklink)." | markdown | safe }}
{% endblock %}
