{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Trusted by" %}
<div class="flex-grid overflow-x-auto">
  {% for trustedByLogo in site.trustedByLogos %}
    <a class="flex-grid__item text-center" href="{{ trustedByLogo.websiteUrl }}" target="_blank" rel="noopener noreferrer">
      {# TODO: responsive sizing like "used-with" logos #}
      <img loading="lazy" src="/assets/images/quicklink-used-logos/{{ trustedByLogo.logoFileName }}" style="max-width: 92px" alt="{{ trustedByLogo.companyName }}">
      <span class="text-center"><strong>{{ trustedByLogo.companyName }}</strong></span>
    </a>
  {% endfor %}
</div>
{% endblock %}
