{% extends "layouts/normal-section-wrapper.njk" %}
{% block section %}
{% sectionTitle "Why Quicklink\'s prefetch?" %}

<div class="center">
  <img loading="lazy" src="/assets/images/graphs/prefetch-improve-svgomg.svg" alt="Prefetch pages a user may need in the future to improve subsequent page loads">
</div>
{% endblock %}
