<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>News</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="/style/main.css" />
  <script src="https://unpkg.com/quicklink@1.0.0/dist/quicklink.umd.js"></script>
</head>
<body>
  <header>
    <ul class="navbar">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/world.html">World</a></li>
      <li><a href="/pages/tech.html">Tech</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
      <li class="profile-icon"><img src="https://cdn.glitch.com/2feb9fb8-169d-4ea0-9d82-ece1d1199861/icon.svg?v=1560086780686" alt="profile icon" /></li>
    </ul>
  </header>
  {% block body %}
  {% endblock %}
  
  <footer>
    <a href="#" class="footer-link">Twitter</a>
    <a href="#" class="footer-link">Facebook</a>
    <a href="#" class="footer-link">Google+</a>
    <a href="#" class="footer-link">Digg</a>
  </footer>
  <script>
    window.addEventListener('load', () => {
        quicklink();
    });
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js').then(registration => {
          console.log('SW registered: ', registration);
        }).catch(registrationError => {
          console.log('SW registration failed: ', registrationError);
        });
      });
    }
  </script>
</body>
</html>
  